name: Build all images

on:
  push:
    branches:
      - main

# We need to match our permissions of our docker-build.yaml
permissions:
  contents: read
  packages: write
  attestations: write
  id-token: write

# TODO: How do we properly rebuild images when build-all-images.yaml itself is changed?
jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      php_files: ${{ steps.filter.outputs.php_files }}
      php: ${{ steps.filter.outputs.php }}
      unit_files: ${{ steps.filter.outputs.unit_files }}
      unit: ${{ steps.filter.outputs.unit }}
      frankenphp_files: ${{ steps.filter.outputs.frankenphp_files }}
      frankenphp: ${{ steps.filter.outputs.frankenphp }}
      nginx_files: ${{ steps.filter.outputs.nginx_files }}
      nginx: ${{ steps.filter.outputs.nginx }}
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.ref }}
          fetch-depth: 2

      - name: Get previous commit SHA to correctly detect changed files
        run: echo "PREVIOUS_COMMIT_SHA=$(git rev-parse HEAD~1)" >> $GITHUB_ENV

      - name: Detect changed Dockerfiles
        id: filter
        uses: dorny/paths-filter@v3
        with:
          base: ${{ env.PREVIOUS_COMMIT_SHA }}
          list-files: json
          filters: |
            php:
              - 'php/*.Dockerfile'
            unit:
              - 'unit/*.Dockerfile'
            frankenphp:
              - 'frankenphp/*.Dockerfile'
            nginx:
              - 'nginx/Dockerfile'

  build-php:
    needs: changes
    if: needs.changes.outputs.php == 'true'
    uses: ./.github/workflows/call-docker-build.yaml
    with:
      image: php
      dockerfiles: ${{ needs.changes.outputs.php_files }}
      variants: '["-fpm"]'
      # NOTES:
      # - ghostscript is often used by WordPress which we are using a lot
      build-args: &php-build-args |
        DEBIAN_PACKAGES=msmtp-mta less ghostscript
        PHP_EXTENSIONS=redis gd bcmath exif intl mysqli pgsql pdo_mysql pdo_pgsql zip imagick opcache

  build-unit:
    needs: changes
    if: needs.changes.outputs.unit == 'true'
    uses: ./.github/workflows/call-docker-build.yaml
    with:
      image: unit
      dockerfiles: ${{ needs.changes.outputs.unit_files }}
      build-args: *php-build-args

  build-frankenphp:
    needs: changes
    if: needs.changes.outputs.frankenphp == 'true'
    uses: ./.github/workflows/call-docker-build.yaml
    with:
      image: frankenphp
      dockerfiles: ${{ needs.changes.outputs.frankenphp_files }}
      build-args: *php-build-args

  build-nginx:
    needs: changes
    if: needs.changes.outputs.nginx == 'true'
    uses: ./.github/workflows/call-docker-build.yaml
    with:
      image: nginx
      dockerfiles: ${{ needs.changes.outputs.nginx_files }}
