name: Renovate
on:
  # Allows manual/automated ad-hoc trigger
  workflow_dispatch:
    inputs:
      logLevel:
        description: Override default log level
        required: false
        default: debug
        type: string
      overrideSchedule:
        description: Ignores schedules and merge/commit everything now
        default: false
        type: boolean
      releaseDependency:
        description: Release a single dependency by renovate dependency name (or regex /.*/)
        type: string

  workflow_call:
    inputs:
      logLevel:
        description: Log level
        default: info
        type: string

      repository:
        description: The repository to renovate
        type: string

      overrideSchedule:
        description: Ignores schedules and merge/commit everything now
        default: false
        type: boolean

      releaseDependency:
        description: Release a single dependency by renovate dependency name (or regex /.*/)
        type: string

      releaseDependencies:
        description: A JSON encoded list (e.g. ["a", "b"]) of dependencies to release via renovate dependency name (or regex /.*/)
        type: string

  # Whenever we change this file in our main branch
  push:
    branches:
      - main
    paths:
      - .github/renovate.json5
      - .github/workflows/renovate.yaml

  # Run twice in the early morning for initial and follow up steps (create pull request and merge)
  schedule:
    # NOTE: We run this "first" in the grand scheme of images, web and infrastructure
    - cron: 15,45 1 * * * # IMPORTANT: Any renovate auto scheduling periods should be within this time!!!!

concurrency: renovate

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Force automatic release of dependency ${{ inputs.releaseDependencies || inputs.releaseDependency }}
        if: ${{ inputs.releaseDependencies || inputs.releaseDependency }}
        run: |
          cat > /tmp/release-dependency.renovate.json <<'JSON'
          {
            "pruneStaleBranches": false, // As we are running in a limited mode, don't touch other stuff.
            "packageRules": [
              {
                "description": "Disable updates for all packages",
                "enabled": false,
                "matchPackageNames": ["*"],
              },
              {
                "description": "Force automatic release of chosen dependency",
                "enabled": true,
                "schedule": null, // Maybe required to ensure we can create the (temporary) branch
                "automerge": true,
                "automergeType": "branch",
                "automergeSchedule": null, // Ensure we can perform the release
                "ignoreTests": true, // Just release without waiting for tests
                "matchDepNames": ${{ inputs.releaseDependencies || format('[{0}]', toJSON(inputs.releaseDependency)) }},
              }
            ]
          }
          JSON
          echo "RENOVATE_ADDITIONAL_CONFIG_FILE=/tmp/release-dependency.renovate.json" >> $GITHUB_ENV

      # IMPORTANT: Renovate works "weirdly" as it pulls repositories to work on itself, so it will clone RENOVATE_REPOSITORIES
      # itself using the token. This means it is also hard to test locally.
      - uses: renovatebot/github-action@v44.1.0
        env:
          LOG_LEVEL: ${{ inputs.logLevel || 'info' }} # The or sets the log level for cron runs
          RENOVATE_REPOSITORIES: ${{ inputs.repository || github.repository }}
          RENOVATE_GIT_AUTHOR: "Renovate Bot <bot@renovateapp.com>"
          RENOVATE_BINARY_SOURCE: install # We want to automatically use third party dependencies like Flux!
          RENOVATE_FORCE: ${{ inputs.overrideSchedule == true && '{''schedule'':null,''automergeSchedule'':null}' || '' }}
          RENOVATE_X_DOCKER_HUB_TAGS_DISABLE: "true" # Ensure to use normal Docker API for docker registry to avoid authentication issues.
          # Let's move some common settings (that we can) here so we don't have to add these to each renovate.json5
          RENOVATE_PLATFORM_AUTOMERGE: false
          RENOVATE_ONBOARDING: "false" # We do not care about onboarding as all is setup
          RENOVATE_REBASE_WHEN: behind-base-branch
          RENOVATE_RECREATE_WHEN: always
          RENOVATE_HOST_RULES: >-
            [
              {
                "hostType": "docker",
                "matchHost": "docker.io",
                "username": "${{ vars.OMNIASOFT_RENOVATE_DOCKER_USERNAME }}",
                "password": "${{ secrets.OMNIASOFT_RENOVATE_DOCKER_TOKEN }}"
              },
              {
                "hostType": "docker",
                "matchHost": "ghcr.io",
                "username": "${{ vars.OMNIASOFT_RENOVATE_GITHUB_USERNAME }}",
                "password": "${{ secrets.OMNIASOFT_RENOVATE_GITHUB_PAT }}"
              }
            ]
        with:
          token: ${{ secrets.OMNIASOFT_RENOVATE_GITHUB_PAT }}
